.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-form{
  display: flex;
  flex-direction: column;
}
.task-create{
  width: 450px;
}
.task-update{
  width: 100%;
}
.task-label{
  margin: 10px 0px;
}
.task-input{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.task-button{
  border: 1px solid green;
  margin: 10px 0px;
  padding: 10px;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
.edit-button{
  background-color: blueviolet;
}
.task-show{
  border: 1px solid green;
  border-radius: 30px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.task-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.task-info{
  margin-bottom: 5px;
}
.delete-button{
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.update-button{
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin-right: 10px;
  
}



